@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 7vh 5vw;
    padding: 10vh 5vw;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(85, 0, 196);
}

a:hover {
    font-size: larger;
    font-weight: bold;
    color: rgb(51, 0, 146);
}

.container {
    width: 70%;
    float: left;
}

.skills {
    padding: 10px 0;
}

.skills:hover {
    background-color: rgb(255, 247, 250);
    border-radius: 10px;
    font-style: italic;
    box-shadow: 5px 10px 10px lightgray;
    transition: all 0.5s;
    /* transform: skew(2.5deg); */
}

.name {
    font-size: 40px;
    font-weight: bold;
    margin: 5px 5px 5px 0;
    padding: 5px 5px 20px 0;
}

.contact {
    margin: 20px 20px 20px 0;
    padding: 25px 20px 40px 0;
}

.contact:hover {
    background-color: rgb(255, 247, 250);
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 5px 10px 10px lightgray;
    transition: all 0.5s;
    /* transform: skew(2.5deg); */
}

.fab {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-github {
    color: black;
}

.fa-linkedin {
    color: blue;
}

.fa-youtube {
    color: red;
}

.fa-medium {
    color: black;
}

/* Media queries */
@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    .container-2 {
        width: 100%;
        margin-top: 5px;
    }
}

.contact-form {
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.message {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 30px;
    font-weight: bolder;
}
