@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 10vh 5vw;
    padding: 10vh 5vw;
}

li {
    list-style: none;
}

.container {
    width: 50%;
    float: left;
}

.container-2 {
    width: 40%;
    float: right;
}

.name {
    font-size: 40px;
    font-weight: bold;
    margin: 5px 5px 5px 0;
    padding: 5px 5px 20px 0;
}

.contact {
    margin: 20px 20px 20px 0;
    padding: 25px 20px 40px 0;
}

.fab {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Media queries */
@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}

.contact-form {
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.message {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 30px;
    font-weight: bolder;
}
